.todo-container {
  width: 100%;
  max-width: 600px; /* Adjust max-width as needed */
  margin: 20px auto;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #f5f5f5;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.input-container {
  display: flex;
  margin-bottom: 20px;
}

.input-container input[type="text"] {
  flex: 1;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.input-container button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.todo-list {
  list-style-type: none;
  padding: 0;
}

.todo-list li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.todo-list input[type="checkbox"] {
  margin-right: 10px;
}

.todo-list span {
  flex: 1;
  word-break: break-all;
  font-size: 18px;
}

.todo-list input[type="text"] {
  flex: 1;
  padding: 5px;
}

.todo-list button {
  margin-left: 10px;
  padding: 8px 12px;
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.todo-list i {
  margin-left: 5px;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .input-container {
    flex-direction: column;
  }

  .input-container input[type="text"] {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .input-container button {
    width: 100%;
  }
}

.completed {
  text-decoration: line-through;
  color: #808080;
}